
<app-add-category></app-add-category>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
    <table class="w-full text-sm text-left text-gray-500 min-w-[600px]">
      <thead class="text-xs text-gray-700 uppercase">
        <tr>
          <th scope="col" class="px-6 py-3">#</th>
          <th scope="col" class="px-6 py-3">Category</th>
          <th scope="col" class="px-6 py-3">Description</th>
          <th scope="col" class="px-6 py-3">Image</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b" *ngFor="let category of categories; let i = index">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            {{ i + 1 }}
          </th>
          <td class="px-6 py-4">
            {{ category.name }}
          </td>
          <td class="px-6 py-4">
            {{ category.description }}
          </td>
          <td class="px-6 py-4">
            <img [src]="category.imageUrl" alt="{{ category.name }} Image" class="h-20 object-cover">
          </td>
          <td class="flex flex-col px-6 py-4">
            <a href="#" class="font-medium text-gray-900" (click)="openEditCategoryModal(category.id)">Edit</a>
            <a href="#" class="font-medium text-red-600">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
