<div class="my-16 flex flex-col items-center justify-center">
    <div class="w-full" style="background-image: url('https://img.freepik.com/free-photo/glasses-cup-coffee-break-concept_53876-23339.jpg?w=900&t=st=1698293649~exp=1698294249~hmac=ac62e3756335711942400fa7714ddfc01f0caa47885cd2c7ec8646e563f253f2'); background-size: cover; background-position: center;">
      <div class="px-4 lg:px-12 my-28">
        <div class="flex flex-col items-center justify-center">
          <h1 class="text-white text-4xl sm:text-6xl font-bold text-center mb-12">About Us</h1>
          <p class="text-white text-xl sm:text-3xl font-normal mb-8">Welcome to Article Pack - your source for diverse, well-researched articles spanning various topics. Join our community of writers, readers, and curious minds to explore, learn, and stay inspired.</p>
          <a routerLink="about" class="border-2 border-white text-white hover:text-black hover:border-white hover:bg-white mt-6 py-3 px-8 rounded-full text-xl font-bold">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  