    <h2 class="text-4xl font-semibold text-center mb-8">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
        <mat-error *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
          Email is required and must be a valid email.
        </mat-error>
      </div>
      <div class="mb-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
        <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          Password is required.
        </mat-error>
      </div>
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-gray-900 hover:bg-white border-2 border-white text-white hover:text-gray-900 hover:border-2 hover:border-gray-900 font-bold py-2 px-4 rounded w-full" [disabled]="loginForm.invalid">
          Log In
        </button>
      </div>
      <div class="mb-4 flex justify-center mt-3">
        <a href="/forgot-password" class="text-gray-900 text-sm underline">Forgot Password?</a>
        <span class="mx-2 text-gray-900 text-sm">or</span>
        <a href="/register" class="text-gray-900 text-sm underline">Register</a>
      </div>
    </form>
  
  