<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-4 lg:mx-8 pt-10 pb-16">
    <div class="col-span-2 xl:col-span-1">
      <p class="title font-bold">Article</p>
      <p class="sub-title font-medium">Pack</p>
    </div>
    <div class="flex col-span-2 2xl:col-span-1 items-end justify-center mx-auto">
        <img class="w-[60%] h-auto" src="https://img.freepik.com/free-vector/blogging-concept-illustration_114360-1038.jpg?w=740&t=st=1698306948~exp=1698307548~hmac=86178dbe5d76d21f15e1dc1f3ab724a02fe1b2be20622fccc0c453e3eb2fdf11" alt="">
      </div>
      
  </div>
  