<div class="p-6">
    <p class="font-medium text-xl mb-4">Admin Users</p>
    <button type="button" class="bg-gray-900 hover:bg-white border-2 border-white text-white hover:text-gray-900 hover-border-2 hover-border-gray-900 font-bold py-2 px-4 rounded w-full" (click)="openAddUserModal()">Add User</button>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
      <table class="w-full text-sm text-left text-gray-500 min-w-[600px]">
        <thead class="text-xs text-gray-700 uppercase">
          <tr>
            <th scope="col" class="px-6 py-3">#</th>
            <th scope="col" class="px-6 py-3">Name</th>
            <th scope="col" class="px-6 py-3">Role</th>
            <th scope="col" class="px-6 py-3">Email</th>
            <th scope="col" class="px-6 py-3">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b" *ngFor="let user of users; let i = index">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
              {{ i + 1 }}
            </th>
            <td class="px-6 py-4">
              {{ user.name }}
            </td>
            <td class="px-6 py-4">
              {{ user.role }}
            </td>
            <td class="px-6 py-4">
              {{ user.email }}
            </td>
            <td class="flex flex-col px-6 py-4">
              <button class="font-medium text-gray-900" (click)="openEditUserModal(user)">Edit</button>
              <button class="font-medium text-red-600" (click)="openDeleteConfirmationModal(user)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  