<div class="my-8 flex flex-col items-center justify-center">
  <div class="relative w-full h-72 overflow-hidden">
    <img src="https://img.freepik.com/free-photo/two-businessmen-sitting-couch_53876-26181.jpg?w=996&t=st=1697906997~exp=1697907597~hmac=f7323532f8964640573e7859130a43a9dbc668c4608e649d7a509513b0444729"
      alt="About Image" class="object-cover object-center w-full h-full">
    <div class="px-4 lg:px-0 absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
      <h1 class="text-white text-4xl sm:text-6xl font-bold text-center mb-8">Categories</h1>
      <input #searchInput (input)="onSearchTermChange(searchInput.value)" class="bg-white text-gray-900 text-lg sm:text-xl rounded-full py-1 sm:py-2 px-3 sm:px-4 w-full sm:w-[40%]" placeholder="Search">
    </div>
  </div>
  <div class="mx-4 lg:mx-12 mt-10 pb-4">
    <div class="grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
      <a *ngFor="let category of filteredCategories" [routerLink]="category.link"
        class="border-2 border-black hover:opacity-80 p-8 my-4 flex flex-col justify-center items-center">
        <img [src]="category.imageSrc" alt="{{ category.name }}" class="w-full h-full mb-4 object-cover">
        <p class="py-1 px-4 text-md font-normal">{{ category.description }}</p>
        <p class="border-2 border-black mt-6 py-1 px-4 rounded-full text-xl font-medium">{{ category.name }}</p>
      </a>
    </div>
  </div>
</div>



